﻿@model ThucHanh_3.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</fieldset>
@Html.Partial("addComment", new ThucHanh_3.Models.Comment(), ViewData);
<fieldset>

    <legend>Comment</legend>
    @foreach(var comment in Model.Comment.OrderByDescending(x=>x.DateCreated).Take(5))
    {
        <div class="display-field">
           <h2> cach day: @Html.DisplayFor(x => comment.LastTime)</h2>
        @Html.DisplayFor(x => comment.Body)
         </div>
    }
    </fieldset>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
