﻿@model Infomation.Models.LoaiTin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LoaiTin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenLT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenLT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TinhTrang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TinhTrang)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LoaiTinId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
