﻿@model Infomation.Models.QuangCao

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>QuangCao</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MoTa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MoTa)
            @Html.ValidationMessageFor(model => model.MoTa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UrlHinh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UrlHinh)
            @Html.ValidationMessageFor(model => model.UrlHinh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoaiTinId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoaiTinId)
            @Html.ValidationMessageFor(model => model.LoaiTinId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ViTriId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ViTriId)
            @Html.ValidationMessageFor(model => model.ViTriId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KichThuoc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KichThuoc)
            @Html.ValidationMessageFor(model => model.KichThuoc)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
