﻿@model IEnumerable<Infomation.Models.QuangCao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlHinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiTinId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViTriId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KichThuoc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlHinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTinId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViTriId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KichThuoc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuangCaoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuangCaoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuangCaoId })
        </td>
    </tr>
}

</table>
