﻿@model Blog_4.Models.Tag

@{
    ViewBag.Title = "Searched";
}

<h2>Searched</h2>

<fieldset>
    <legend>Post</legend>
    <p>Post Title: </p>
    @foreach(var post in Model.Posts)
    {
         @Html.ActionLink(""+post.Title, "Details/"+post.PostID,"Post")<br />
    }
</fieldset>
<p>
    @Html.ActionLink("Back to Search", "Search")
</p>